@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Silkscreen;
  background: lightcyan;
}

#form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#txt {
  max-width: 700px;
  position: relative;
  font-size: 1.5em;
  left: 50%;
  transform: translate(-50%,0);
}

#res {
  position: relative;
  font-weight: 800;
  font-size: 1em;
  color: #202020;
  background: lightgray;
  border: 0;
  outline: none;
  margin: 5px auto;
  border-radius: 5px;
}

#enviar {
  max-width: 200px;
  position: relative;
  background: lightgray;
  border: 0;
  border-radius: 5px;
  left: 50%;
  transform: translate(-50%,0);
}
